<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.Water_Reminder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_water"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_water_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Water_Reminder">

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true" />

        <activity
            android:name="com.example.Water_Reminder.ReminderActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>